body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.gFRHYh {
	height: 350px !important;
	width: 100% !important;
	margin: 0 auto !important;
	overflow: hidden !important;
	border-radius: 5px !important;
}

.gFRHYh:hover {
	overflow-y: scroll !important;
	overflow-x: scroll !important;
}
.gFRHYh:hover::-webkit-scrollbar {
	display: none;
}
